.postList {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
    .postList {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .postList {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}