.header {
  &__inner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

  }

  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all var(--transition);
    fill: var(--default);

    &:hover {
      transform: rotate(45deg);
    }

    & svg path {
      fill: var(--default);
    }
  }
}